:host {
    display: block;
}

button {
    min-width: 100px;
}

:host::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8); // ou un noir à 0.5
    z-index: -1;
}