body {
    background: url('assets/images/jukebox_background_eco.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}